body{
    font-family: monospace;
}
#canvas_blocks_container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.canvas_block{
    display: inline-block;
    max-width: 50%;
}

.canvas_block canvas{

    max-width: 100%;
}